/* Général */

body{
    font-family: "Grenze", sans-serif;
    background: #c9d6df;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

.education-block h3{
    color: #52616b !important ;
}

.img-circle {
    max-width: 100%;
    height: auto;
    width: 50%;
    border-radius: 100%;
    border: 2px solid #f0f5f9;
    margin: 50px auto;
}

section{
    padding: 45px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2{
    text-transform: uppercase;
}

.blue-divider {
    width: 100px;
    height: 2px;
    background: #212F3D;
    margin: 0 auto;
    margin-bottom: 5%;
}

.white-divider {
    width: 100px;
    height: 2px;
    background: #f0f5f9;
    margin: 0 auto;
    margin-bottom: 5%;
}

.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display:inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    background: transparent;
}

.button1:hover {
    background: #1A5276;
    color: #f0f5f9;
    text-decoration:none;
}

ul, ol {
    list-style: none;
}

/*MENU*/

.navbar{
    background: #1e2022;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar li a {
    color:#c9d6df !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1A5276 !important;
    background-color:#c9d6df !important;
}

.navbar-default .navbar-toggle{
    border-style: none;
}

.icon-bar {
    background-color : #fff !important;
}

/*About*/

#about{
    padding-top: 100px;
    background: #52616b ;
}

.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
}

#about .heading h1{
    color:#f0f5f9;
    text-transform: uppercase;
}

#about .heading h3 {
    color:#000;
}

/*SKILLS*/

#skills{
    background: #f0f5f9;
}

#skills .heading h2 {
    color:#52616b ;
}

#skills .progress {
    height: 15%;
    margin: 30px 20px;
    background: #ddd;
}

#skills .progress-bar {
    background: #1A5276;
}

#skills .progress h5 {
    text-shadow: 1px 1px 1px #000;
}

/*EXPERIENCES*/

#experience{
    background: #c9d6df
}

#experience .heading h2 {
    color:#52616b;
}

.timeline{
    padding: 30px 10px;
    position: relative;
}

.timeline:before{
    top:0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #1C2833 ;
    left:50%;
    margin-left: -2,5px;
}

.timeline > li{
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:after{
    clear:both;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline  li .timeline-badge{
    color: #1e2022;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color:#f0f5f9;
    border-radius:50%;
}

.timeline-panel-container{
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}

.timeline-panel {
    width:90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background: #f0f5f9;
}

.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #f0f5f9;
    border-right: 0 solid #f0f5f9;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}

.timeline-heading h4{
    color: #52616b ;
}

.timeline-heading .text-muted{
    color: #1e2022;
}

/*EDUCATION*/

#education {
    background: #fff;
}

#education .heading h2 {
    color: #52616b;
}

.education-block{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.education-block h5{
    color: #1e2022;
    font-size: 15px;
    margin-bottom: 15px;
}

.education-block .glyphicon{
    font-size: 40px;
}

.education-block h3{
    color: #AED6F1;
}

.education-block h4{
    margin-bottom: 20px;
}

.education-block p {
    font-weight: bold;
}

.education-block .blue-divider{
    margin-bottom: 20px;
}

/*PORTFOLIO*/

#portfolio {
    background: #c9d6df;
}

#portfolio .heading h2 {
    color: #52616b;
}

#portfolio .thumbnail img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#portfolio .thumbnail img:hover{
    filter: none;
    -webkit-filter: none;
}

/* RECOMMANDATION*/

#recommandations{
    background: #fff;
}

#recommandations .heading h2{
    color: #52616b;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
    color:#1C2833;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-indicators li{
    border-color: #1A5276;
}

.carousel-indicators li.active{
    background-color: #1A5276
}

#myCarousel .item{
    padding: 40px 30px;
}

#myCarousel .item h3 {
    color: #1C2833;
    font-style: italic;
}

section .lettrereco{
    text-align: center;
    padding-bottom: 40px;
}

.button2 {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #c9d6df;
    color: #212F3D;
    border: 1px solid white;
    display:inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

.button2:hover {
    background: #52616b;
    color: #f0f5f9;
    text-decoration:none;
}

/*FOOTER*/

footer {
    background: #c9d6df;
    padding: 20px 0 40px;
}

footer .glyphicon{
    font-size: 30px;
    margin: 20px;
    color: #52616b;
    height: 30px;
}

footer .glyphicon:hover{
    font-size: 37px;
}

footer h5{
    color: #1e2022;
    font-weight: normal;
}

.LV1{
    width: 70px;
    margin: 10px;
    filter: none;
}

.LV1:hover{
    filter: grayscale();
}

.LV{
    width: 60px;
    margin: 10px;
    filter: none;
}

.LV:hover{
    filter: grayscale();
}

#QR{
    position: fixed ;
    bottom: 0px;
    right: 0px;
}

/* Formulaire contact */

#contact{
    background: #c9d6df;
}

#contact .heading h2{
    color: #fff;
}

#contact-form{
    font-size: 20px;
    color: #fff;
}

.form-control{
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit]{
    margin: 40px auto 0px;
    display: block;
}
.comments{
    font-style: italic;
    font-size: 18px;
    color: #fff;
    height: 25px
}
#contact-form .thank-you{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}

.thank-you{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 23px;
}

/* CONTACT */

#contact {
    background: #c9d6df;
}

#contact .heading h2 {
    color: #52616b;
}

#contact-form
{
    font-size: 20px;
    color: #fff;
}

.form-control
{
    height: 50px;
    font-size: 18px;
}

#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;
}

.comments
{
    font-style: italic;
    font-size: 18px;
    color: red;
    height: 25px;
}

#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}